<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyn.mapper.DiseaseMapper">

    <resultMap id="diseaseResultMap" type="com.cyn.pojo.Disease">
        <result column="crop" property="cropName"/>
        <result column="disease" property="diseaseName"/>
        <result column="image_path" property="imagePath"/>
        <result column="add_time" property="addTime"/>
    </resultMap>

    <select id="selectByCropDiseaseName" resultMap="diseaseResultMap">
        select * from plant_disease
        <where>
            <if test="cropName !=null and cropName!=''">
                and crop = #{cropName}
            </if>
            <if test="diseaseName!=null and diseaseName!=''">
                and disease = #{diseaseName}
            </if>
        </where>
    </select>

<!--    disease.  重要！！-->
    <select id="selectByPageAndCondition" resultMap="diseaseResultMap">
        select * from plant_disease
        <where>
            <if test="disease.cropName !=null and disease.cropName!=''">
                and crop = #{disease.cropName}
            </if>
            <if test="disease.diseaseName!=null and disease.diseaseName!=''">
                and disease = #{disease.diseaseName}
            </if>
        </where>
        limit #{begin},#{size}
    </select>
<!--重要：结果类型 int-->
    <select id="selectTotalCountByCondition" resultType="int">
        select count(*) from plant_disease
        <where>
            <if test="cropName !=null and cropName!=''">
                and crop = #{cropName}
            </if>
            <if test="diseaseName!=null and diseaseName!=''">
                and disease = #{diseaseName}
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        delete from plant_disease where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>